*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", serif;
}

html{
    scrollbar-width: thin;
    scrollbar-color: rgba(154, 173, 28, 0.5) rgba(154, 173, 28, 0.13);
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #f3f3f3;
}

main{
    width: 100%;
    margin-top: 102px;
    background-color: rgb(235, 235, 235);
}

.faculty-logo-box{
    width: 66%;
    height: 500px;
    min-width: 1268px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faculty-logo-box img{
    width: 100%;
    height: auto;
}

.faculty-name-box{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(.5);
}

.faculty-name-box h1{
    width: min-content;
    font-size: 60px;
    font-weight: bold;
    background-color: white;
    background-image: url("../image/fac-3.png");
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    filter: brightness(1.60) contrast(.6);
}

.faculty-info-box{
    width: 66%;
    min-width: 1268px;
    padding: 0 30px;
    box-sizing: border-box;
}

.faculty-info-box p{
    text-align: justify;
    text-indent: 2em;
    font-size: 20px;
}

.faculty-info-box p:not(:first-child){
    margin-top: 1em;
}

.faculty-info-box h3{
    margin-top: 1em;
}

.faculty-info-box ul{
    box-sizing: border-box;
    padding: 0 0 0 2em;
    font-size: 20px;
}

.management-team-box{
    width: 66%;
    min-width: 1268px;
    display: flex;
    justify-content: space-between;
    height: 640px;
}

.manager-box{
    width: 380px;
    background-color: white;
}

.manager-info{
    box-sizing: border-box;
    padding: 10px;
}


.manager-info *{
    margin-bottom: 10px;
}
.manager-image{
    height: 65%;
}

.manager-image img{
    width: 100%;
    height: 100%;
}

.manager-box .rank{
    text-transform: uppercase;
}

.manager-box .surname{
    text-transform: uppercase;
}

.departments-box{
    width: 66%;
    min-width: 1268px;
    box-sizing: border-box;
    padding: 0 30px;
}

.departments-item{
    display: flex;
    align-items: center;
}

.departments-item:not(:last-child){
    margin-bottom: 20px;
}

.department-marker{
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border: 5px solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.department-marker:before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 9px solid;
}

.department-marker:after{
    content: "";
    position: absolute;
    height: 28px;
    border: 2px solid;
    top: -37px;
}

.departments-item a{
    text-decoration: none;
}

.departments-item:nth-child(odd){
    color: #357639;
}

.departments-item:nth-child(odd) a{
    color: #357639;
}

.departments-item:nth-child(even){
    color: #9AAD1C;
}

.departments-item:nth-child(even) a{
    color: #9AAD1C;
}

.departments-list{
    list-style: none;
}

.department-name{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.faculty-news-box{
    width: 66%;
    min-width: 1268px;
}

.faculty-gallery{
    width: 66%;
    min-width: 1268px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.faculty-gallery-item{
    width: 400px;
    height: 300px;
}

.gallery-image-box{
    width: 100%;
    height: 100%;
}

.gallery-image-box img{
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1268px) {
    .faculty-logo-box {
        width: 100%;
        min-width: auto;
    }

    .faculty-logo-box img{
        height: 100%;
    }

    .faculty-name-box h1{
        font-size: 50px;
    }

    .faculty-info-box{
        width: 100%;
        min-width: auto;
    }

    .management-team-box{
        width: 100%;
        min-width: auto;
        height: fit-content;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px 0;
    }

    .departments-box{
        width: 100%;
        min-width: auto;
    }

    .faculty-gallery{
        width: 100%;
        min-width: auto;
        gap: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .faculty-gallery-item{
        width: 33%;
        height: 250px;
    }
}

@media all and (max-width: 860px){
    main{
        margin-top: 60px;
    }

    .faculty-name-box{
        padding: 0 20px;
    }

    .faculty-logo-box{
        height: 400px;
    }

    .faculty-name-box h1{
        font-size: 40px;
    }

    .manager-box{
        width: 300px;
    }

    .manager-image{
        height: 60%;
    }

    .department-name{
        font-size: 30px;
    }

    .department-marker:after{
        height: 22px;
        top: -30px;
    }

    .faculty-gallery-item{
        height: 200px;
    }
}

@media screen and (max-width: 660px){
    .faculty-logo-box{
        height: 300px;
    }

    .faculty-name-box h1{
        font-size: 30px;
    }

    .manager-box{
        width: 280px;
    }

    .manager-image{
        height: 60%;
    }
}

@media screen and (max-width: 590px){
    .faculty-name-box{
        padding: 10px;
        height: fit-content;
        width: 100%;
        bottom: 0;
        top: auto;
    }

    .faculty-name-box h1{
        width: auto;
        text-align: center;
    }

    .manager-box{
        width: 220px;
    }

    .manager-image{
        height: 50%;
    }

    .departments-box{
        padding: 0 10px;
    }

    .departments-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .department-name{
        font-size: 20px;
    }

    .department-marker{
        width: 30px;
        height: 30px;
    }

    .department-marker:before{
        width: 12px;
        height: 12px;
        border: 6px solid;
    }

    .department-marker:after{
        height: 17px;
        top: -25px;
    }

    .faculty-gallery-item{
        width: 48%;
        min-width: 48%;
    }
}